<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>timestamp</fieldName>
        </timestamp>
        <logLevel>
          <fieldName>level</fieldName>
        </logLevel>
        <loggerName>
          <fieldName>logger</fieldName>
        </loggerName>
        <message/>
        <mdc>
          <includeMdcKeyName>traceId</includeMdcKeyName>
          <includeMdcKeyName>spanId</includeMdcKeyName>
          <includeMdcKeyName>userId</includeMdcKeyName>
          <includeMdcKeyName>lotId</includeMdcKeyName>
        </mdc>
        <stackTrace>
          <fieldName>stackTrace</fieldName>
        </stackTrace>
      </providers>
    </encoder>
  </appender>

  <turboFilter class="com.bidstream.api.logging.LogSanitizationTurboFilter"/>

  <root level="INFO">
    <appender-ref ref="JSON_CONSOLE"/>
  </root>
</configuration>
